<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCern5ncxdTbPB_TLVfxmVpFPvNIE0_YjA</string>
	<key>GCM_SENDER_ID</key>
	<string>729776064370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sixdegreesofmusic</string>
	<key>PROJECT_ID</key>
	<string>six-degrees-of-music-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>six-degrees-of-music-admin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729776064370:ios:0e1f6ed12e71d374a07feb</string>
</dict>
</plist>